@import './reset.css';

:root {
	--wf-primary-color: hsl(240, 11%, 96%);
	--wf-secondary-color: hsl(240, 5%, 65%);
	--wf-tertiary-color: hsl(208, 91%, 62%);
	--wf-background-color: hsl(240, 11%, 96%);
	--wf-background-color-alpha-5: var(--wf-background-color);
	--wf-background-color-alpha-20: var(--wf-background-color);

	--wf-text-color: hsl(240, 5%, 45%);
	--wf-text-color-light: hsl(165, 2%, 52%);
		--wf-text-color-dark: hsl(165, 2%, 88%);

	--wf-green-color: hsl(120, 100%, 55%);

	--header-height: 70px;
	--main-padding-inline-xl: 1em;
	--main-padding-vertical-xl: 3em;
	--main-padding-inline-md: 1em;
	--main-padding-vertical-md: 1em;

	--body-max-width: 620px;

	--wf-header-font-family: 'Inter', sans-serif;
	--wf-body-font-family: 'DM Mono', sans-serif;
	--wf-font-weight-black: 900;
	--wf-font-weight-bold: 700;
	--wf-font-weight-semibold: 600;
	--wf-font-weight-medium: 600;
	--wf-font-weight-regular: 500;
	--wf-font-weight-normal: 400;
	--wf-font-weight-light: 300;

	--wf-font-style-italic: italic;
	--wf-font-style-normal: normal;

}

/* Prefer Dark Mode */
@media (prefers-color-scheme: dark) {
	:root {
		--wf-primary-color: hsl(225, 11%, 7%);
		--wf-secondary-color: hsl(165, 2%, 32%);
		--wf-tertiary-color: hsl(208, 100%, 49%);
		--wf-background-color: hsl(225, 11%, 7%);
		--wf-background-color-alpha-5: hsla(0, 0%, 100%, 0.05);
		--wf-background-color-alpha-20: hsla(0, 0%, 100%, 0.2);

		--wf-text-color: hsl(165, 2%, 82%);
		--wf-text-color-light: hsl(165, 2%, 52%);
		--wf-text-color-dark: hsl(165, 2%, 22%);

	}
}

html {
	color-scheme: light dark;
	scroll-behavior: smooth;
}


main {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--wf-header-font-family);
	margin: 0 0 0.5rem 0;
	color: inherit;
	line-height: 1.2;

	white-space: pre;

	&.cli-text {
    font-family: var(--body-font-family);
	}
}
h1 {
	font-size: min(10vw, 4rem);
	font-weight: var(--wf-font-weight-black);
	font-style: var(--wf-font-style-italic);

	& a {
		text-decoration: none;
	}
}
h2 {
	font-size: min(8vw, 3rem);
	font-weight: var(--wf-font-weight-black);
	font-style: var(--wf-font-style-italic);
}
h3 {
	font-size: min(6vw, 2rem);
	font-weight: var(--wf-font-weight-black);
	font-style: var(--wf-font-style-italic);
}
h4 {
	font-size: min(4vw, 1.5rem);
	font-weight: var(--wf-font-weight-bold);
	font-style: var(--wf-font-style-italic);
}
h5 {
	font-size: min(2vw, 1.25rem);
	font-weight: var(--wf-font-weight-bold);
	font-style: var(--wf-font-style-italic);
}
strong,
b {
	font-weight: var(--wf-font-weight-bold);
}
a {
	color: var(--wf-text-color);
}
a:hover {
	color: var(--wf-text-color);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}


.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

svg.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
}
