---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Experience from '../components/Experience.astro';
import Contact from '../components/Contact.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="container">
			<Header title={SITE_TITLE} />
			<Nav />
			<Experience />
			<Contact />
			<Footer />
		</div>
	</body>
</html>

<style is:global>
	.container {
		max-width: var(--body-max-width);
		margin: 3.8rem 0;

	}
	.container > * {
		padding-top: 3rem;
	}

	body {
		display: grid;
		justify-content: center;
		align-items: center;
		font-family: var(--wf-body-font-family);
		font-weight: var(--wf-font-weight-normal);
		margin: 0;
		padding: 0;
		text-align: left;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		/* background-size: 100% 600px; */
		word-wrap: break-word;
		overflow-wrap: break-word;
		color: var(--wf-text-color);
		font-size: 20px;
		line-height: 1.7;
	}

	@media screen and (max-width: 768px) {
		/* h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 5vw;
		} */
		.container {
			max-width: initial;
			margin: 2rem 2rem;
		}
		body {
			font-size: 16px;
		}
	}
	
</style>
