---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Experience from '../components/Experience.astro';
import Contact from '../components/Contact.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="container">
			<Header title={SITE_TITLE} />
			<Nav />
			<Experience />
			<Contact />
			<Footer />
		</div>

		<script type="text/javascript">
			!function(){"use strict";!function(e,t){var n=e.amplitude||{_q:[],_iq:{}};if(n.invoked)e.console&&console.error&&console.error("Amplitude snippet has been loaded.");else{var r=function(e,t){e.prototype[t]=function(){return this._q.push({name:t,args:Array.prototype.slice.call(arguments,0)}),this}},s=function(e,t,n){return function(r){e._q.push({name:t,args:Array.prototype.slice.call(n,0),resolve:r})}},o=function(e,t,n){e[t]=function(){if(n)return{promise:new Promise(s(e,t,Array.prototype.slice.call(arguments)))}}},i=function(e){for(var t=0;t<m.length;t++)o(e,m[t],!1);for(var n=0;n<g.length;n++)o(e,g[n],!0)};n.invoked=!0;var u=t.createElement("script");u.type="text/javascript",u.integrity="sha384-x0ik2D45ZDEEEpYpEuDpmj05fY91P7EOZkgdKmq4dKL/ZAVcufJ+nULFtGn0HIZE",u.crossOrigin="anonymous",u.async=!0,u.src="https://cdn.amplitude.com/libs/analytics-browser-2.0.0-min.js.gz",u.onload=function(){e.amplitude.runQueuedFunctions||console.log("[Amplitude] Error: could not load SDK")};var a=t.getElementsByTagName("script")[0];a.parentNode.insertBefore(u,a);for(var c=function(){return this._q=[],this},p=["add","append","clearAll","prepend","set","setOnce","unset","preInsert","postInsert","remove","getUserProperties"],l=0;l<p.length;l++)r(c,p[l]);n.Identify=c;for(var d=function(){return this._q=[],this},f=["getEventProperties","setProductId","setQuantity","setPrice","setRevenue","setRevenueType","setEventProperties"],v=0;v<f.length;v++)r(d,f[v]);n.Revenue=d;var m=["getDeviceId","setDeviceId","getSessionId","setSessionId","getUserId","setUserId","setOptOut","setTransport","reset","extendSession"],g=["init","add","remove","track","logEvent","identify","groupIdentify","setGroup","revenue","flush"];i(n),n.createInstance=function(e){return n._iq[e]={_q:[]},i(n._iq[e]),n._iq[e]},e.amplitude=n}}(window,document)}();
			
			amplitude.init('436e2a72765c9b1addb51325370a8d97');
		</script>
	</body>
</html>

<style is:global>
	.container {
		max-width: var(--body-max-width);
		margin: 3.8rem 0;

	}
	.container > * {
		padding-top: 3rem;
	}

	body {
		display: grid;
		justify-content: center;
		align-items: center;
		font-family: var(--wf-body-font-family);
		font-weight: var(--wf-font-weight-normal);
		margin: 0;
		padding: 0;
		text-align: left;
		background: var(--wf-background-color);
		word-wrap: break-word;
		overflow-wrap: break-word;
		color: var(--wf-text-color);
		font-size: 20px;
		line-height: 1.7;
	}

	@media screen and (max-width: 768px) {
		/* h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 5vw;
		} */
		.container {
			max-width: initial;
			margin: 2rem 2rem;
		}
		body {
			font-size: 16px;
		}

		.mobile-hidden {
			display: none;
		}
	}
	
</style>
