---
import JobList from "./JobList.astro";
import TypeWriterHeading from "./TypeWriterHeading.astro";
---

<section id="experience" class="exp">
  <TypeWriterHeading text="cat ./experience.md" />

  <JobList />
</section>

<style>

</style>
