---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE, MY_NAME } from '../consts';
import MapPin from '../icons/MapPin.astro';

const yearsExp = new Date().getFullYear() - 2010;
---

<header>
		<h1 style="margin-inline-start: -0.5rem;"><a href="/">{MY_NAME}</a></h1>
		<div class="whoami">
			<p class="role">Web and Mobile Developer</p>
			<p>
				With {yearsExp} years of professional experience in software development, I pride myself on being a true polyglot, 
				having mastered a diverse range of programming languages and always being eager to embrace new ones. 
				My expertise spans the web platform, where I excel in multiple frameworks, and have also done significant 
				mobile development for both native iOS and Android (AOSP).
			</p>
			<div class="details">
				<p class="location">
					<MapPin /> Ottawa, Canada
				</p>
				<p class="turned-on">
					Available for work
				</p>
			</div>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0;
		color: var(--text-color);
	}

	.details {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	p.turned-on::before {
		content: '';
		display: inline-block;
		width: 8px;
		aspect-ratio: 1;
		background-color: var(--wf-green-color);
		border-radius: 100vw;
		margin: 0;
		padding: 0;
		box-shadow:
			-1px -1px 5px 0 hsl(138.19deg 100% 80.56%),
			1px 1px 5px 0 hsl(138.19deg 100% 80.56%);
		transform: translateY(-50%);
	}
</style>
