---
const { job } = Astro.props;
console.log(job.frontmatter)
---

<section class="job-listing">
	<h1 class="company">
		<strong>{ job.frontmatter.company }</strong>
		{ job.frontmatter.role }
	</h1>

	<div class="job">
		<job.default />
	</div>
</section>

<style>
	.company {
		& strong {
			display: block;
			font-size: 4rem;
		}
		font-weight: 200;
		font-size: 2rem;
	}
	/* .job,
	.job-listing {
		color: white;
		& h1,
		& h2,
		& h3 {
			color: inherit;
		}
	}

	.job h2 {
		color: white;
	} */
</style>
