---
const { job } = Astro.props;
console.log(job.frontmatter)
---


<section class="job-listing">
	<wf-on-visible style="opacity: 0;" data-animation="slide-from-start-fade-in" data-animation-delay="300" class="initially-hidden initially-off-end">
		<h4 class="company">
			<strong>{ job.frontmatter.company }</strong>
			<div>
				{ job.frontmatter.role }
			</div>
		</h4>
		
		<div class="job">
			<job.default />
		</div>
	</wf-on-visible>
</section>

<style>
	.company {
		font-weight: 200;
	}
	.job-listing {
		padding-block-start: 2rem;
	}

</style>
