---
import OnVisibleAnimation from "./OnVisibleAnimation.astro";
const { job } = Astro.props;
console.log(job.frontmatter)
---


<section class="job-listing">
	<OnVisibleAnimation animation="slide-from-start-fade-in" delay="200">
		<h4 class="company">
			<strong>{ job.frontmatter.company }</strong>
			<div>
				{ job.frontmatter.role }
			</div>
		</h4>
		
		<div class="job">
			<job.default />
		</div>
	</OnVisibleAnimation>
</section>

<style>
	.company {
		font-weight: 200;
	}
	.job-listing {
		padding-block-start: 2rem;
	}

</style>
